.nav {
  display: flex;
  justify-content: space-between;

  &__title {
    color: #fff;
    font-size: 25px;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
  }

  &__search_box {
    display: flex;
    align-items: center;
    gap: 6px;
    // width: 100%;
    background: #504B4A;
    border-radius: 10px;
    padding-right: 20px;

  }

  &__contact {
    display: flex;
    align-items: center;
    margin-right: 15%;

    &_icon {
      padding: 10px;
      border-radius: 50%;
      background: #618967;
    }

    &_number {
      color: #fff;
      font-weight: bold;
      font-size: 16px;
    }
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #618967;
    border-radius: 9px;

    &_link {
      text-decoration: none;
      color: #fff;
    }

    &_line {
      border-left: 1px solid #CFCFCF;
    }

    &_num {
      padding: 0;
    }
  }
}

.box {
  display: flex;
  margin: 0 10.625rem 0 20px;
}

.box__img {
  max-width: 24px;
  height: 24px;
}

.box__text {
  color: #CFCFCF;
  font-size: 18px;
  margin: 0;
}